/* Add fonts here later */


/* body {


} */


h1, h2 {
    font-weight: 400;
    /* text-align: center; */
}


.dinoLeft {
    text-align: left;
    margin-right: 40px;
    margin-left: 20px;
}


.dinoRight {
    text-align: right;
    margin-left: 40px;
    margin-right: 20px;
}

/* .dinoName {
    text-align: justify center;
} */

/* .dinoText {
    text-align: justify;
} */

